.cardProduct{
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img title"
                         "img price"
                         "img div";
  margin: 20px 0px;
  box-shadow: 5px 5px 5px #666;
  padding: 10px 25px;
  width: 640px;
  height: 250px;

  h2{
    width: 100%;
    text-align: justify;
    grid-area: title;
  }

   h3{
    color: #009244;
    grid-area: price;
  }

  .containerOptions {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-area: div;
  }
}
