.background-container {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;

  .modal-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.3fr 2fr 0.3fr;
    grid-template-areas: "title title"
                         "product info"
                         "buttons buttons";
    gap: 10px;
    background-color: #fff;
    width: 50%;

    .title {
      padding: 0px 10px;
      box-sizing: border-box;
      font-size: 30px;
      width: 100%;
      grid-area: title;
    }


    .product-container {
      padding: 0px 10px;
      box-sizing: border-box;
      width: 100%;
      grid-area: product;
    }

    .info-container {
      padding: 0px 10px;
      box-sizing: border-box;
      width: 100%;
      grid-area: info;

      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      width: 100%;
      grid-area: buttons;
    }
  }
}

@media (max-width: 1400px) {
  .modal-container {
    font-size: 10px;
  }
}
